html, body {
    overflow-x: hidden;
}

body {
  background-color: #180F2E; 
  color: #FFFFFF;
}

.title-bar {
  padding: 20px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.slogan {
  font-size: 80px;
  font-weight: 100;
  margin-bottom: 20px;
}



.download-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.myButton {
  background-color:#0284DC;
  color:#ffffff;
  display:inline-block;
  cursor:pointer;
  font-size:17px;
  padding:19px 40px;
  text-decoration:none;
}
.myButton:hover {
  background-color:#026FDC;
  color:#ffffff;
  text-decoration: none;
}


.logo {
  margin-top: 80px;
  margin-bottom: 20px;
  height: 120px;
  width: 120px;
}

.git-icon {
  height: 50px;
  width: 50px;
}

.creators {
  margin-top: 100px;
  margin-bottom: 100px;
}

.creators img {
  height: 100px;
  width: 100px;
  margin: 15px;
}
.col-center{
  margin:0 auto;
  width: 100px;
}



.product-description {
  position: relative;
  background: #D1D1D1; 
  color: #000000;
}
.product-description:before, .product-description:after {
  content: "";
  position: absolute;
  background: #D1D1D1;  /* Match the background */
  top: 0;
  bottom: 0;
  width: 9999px;   /* some huge width */
} 
.product-description:before {
  right: 100%; 
}
.product-description:after {
  left: 100%;
}


.product-description {
  margin-top: 100px;
  height: 1000px;
  font-weight: 100;
}

.product-description h1 {
  font-weight: 100;
  font-size: 60px;
  padding: 20px;

}





